.background-title{
    background-color:#beeee8;
}
.background-heroic{
    background-color: #98EECC;  
}
.background-edu{
    background-color:#b8f2f9;
}
.background-footer{
    background-color: #FBFFDC;
}